body {
  background-color: rgb(77, 124, 173);
  font-family: 'Exo 2', sans-serif;
}

header {
  background-color: rgb(201, 200, 200);
  border-style: solid;
  color: rgb(201, 200, 200);
  padding: 10px;
  border-radius: 5px;
  border-color:rgb(75, 74, 74);
  border-width:medium
  -moz-box-shadow:    inset 0 0 10px rgb(77, 124, 173);
  -webkit-box-shadow: inset 0 0 15px rgb(77, 124, 173);
  box-shadow:         inset 0 0 30px rgb(77, 124, 173);
}

main {
  background-color: rgb(77, 124, 173);
}

#home-page-title {
  text-align: left;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  width: 100%;
  margin-top: -10px;
  color: rgb(255, 251, 251);
  position: relative;
  top: 20px;
  margin-left: 18px;
}





#nav-bar {
  position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  background-color: transparent;
  overflow: hidden;
}

#nav-bar a:hover {
  background-color:rgb(255, 255, 255);
  color: rgb(77, 124, 173);
}

#nav-bar a {
  text-decoration: none;
  border-style: solid;
  background-color: white;
  color: rgb(75, 74, 74);
  width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  bottom: 5px;
  -moz-box-shadow:    inset 0 0 10px rgb(77, 124, 173);
  -webkit-box-shadow: inset 0 0 10px rgb(77, 124, 173);
  box-shadow:         inset 0 0 5px rgb(77, 124, 173);
}





#store-images {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: -100px;
}



#steam-logo {
  width: 220px;
  height: 70px;
  margin-top: 50px;
  align-items: center;
}

#gog-logo {
  width: 200px;
  height: 200px;
  align-items: center;
}

#epicgames-logo {
  width: 200px;
  height: 200px;
  align-items: center;
}




#home-page-store-details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
}

.store-cards {
  background-color: rgb(77, 124, 173);
  width: 300px;
  text-align: center;
}

#epic-home-page {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: auto;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  
}

#game-div-card {
  border-style: solid;
  border-color: rgb(75, 74, 74);
  margin-bottom: 2px;
  margin-top: 2px;
  width: 290px;
  bottom: 5px;
  background-color: rgb(226, 224, 224);
  border-radius: 5px;
  -moz-box-shadow:    inset 0 0 10px rgb(77, 124, 173);
  -webkit-box-shadow: inset 0 0 15px rgb(77, 124, 173);
  box-shadow:         inset 0 0 20px rgb(77, 124, 173);
}

#game-title a {
  text-decoration: none;
  font-size: larger;
}

#game-image {
  width:160px;
  height:60px;
  margin-bottom: 20px;
}

#game-savings {
  margin-bottom: 10px;
  margin-top: 10px;
}

.buy-now-button {
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 2px 2px 2px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.buy-now-button a {
  text-decoration: none;
}








#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}





