body {
  background-color: rgb(11, 97, 189);
}

header {
  background-color: rgb(201, 200, 200);
  border-style: solid;
  color: rgb(201, 200, 200);
  padding: 10px;
  border-radius: 5px;
  border-color: black;
  border-width: thick;
  font-family: 'roboto mono', monospace;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 30px #000000;
}

main {
  font-family: 'roboto', sans-serif;
  background-color: rgb(11, 97, 189);
}

#home-page-title {
  text-align: left;
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  width: 100%;
  margin-top: -10px;
  color: rgb(255, 251, 251);
  position: relative;
  top: 20px;
  margin-left: 18px;
}





#nav-bar {
  position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  background-color: transparent;
  overflow: hidden;
}

#nav-bar a:hover {
  background-color:rgb(255, 255, 255);
  color: rgb(11, 97, 189);
}

#nav-bar a {
  text-decoration: none;
  border-style: solid;
  background-color: white;
  color: rgb(0, 0, 0);
  width: 480px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  bottom: 5px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}





#store-images {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: -50px;

}

.store-logo {
  max-width: 200px;
  max-height: 200px;
}





#home-page-store-details {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 100px;
}

.store-cards {
  background-color: rgb(11, 97, 189);
  width: 300px;
  text-align: center;
}

#epic-home-page {
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  align-self: auto;
  text-decoration: none;
  align-items: center;
  border-radius: 10px;
  
}





#game-div-card {
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin-bottom: 2px;
  margin-top: 2px;
  width: 290px;
  bottom: 5px;
  background-color: rgb(201, 200, 200);
  border-radius: 5px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 15px #000000;
  box-shadow:         inset 0 0 20px #000000;
}

#game-title {
  text-decoration: none;
  font-size: larger;
}

#game-image {
  width:160px;
  height:60px;
  margin-bottom: 20px;
}

#game-savings {
  margin-bottom: 10px;
  margin-top: 10px;
}
#logo {
  max-width: 100%;
  max-height: 100%;
}





